*{
    margin: 0;
    padding: 0;
    font-family: serif;
}
.navbar{
    padding: 0px 0px;
}
.navbar nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f5f5f5;
}
.navbar nav .logo{
   margin:  10px 14px;
}
.navbar nav img{
    display: flex;
    height: 50px;
   margin: 3px 9px;

}
.navbar nav .link a{
    font-size: 20px;
    text-decoration: none;
    padding: 2px 8px;
    color: black;
}
.navbar nav .link a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.5s ease;
}
.background img{
background-size: cover;
background-repeat:no-repeat;
width: 100vw;
height: 50vh;
position: relative;
}

.category{
    margin-top: 50px;
}
.category h1{
text-align: center;
font-size: 24px;
margin-bottom: 20px;
font-family: Georgia, serif;
}
.category h1:hover{
color: orange;
transition: 0.3s ease;
}
.category .link{
    text-align: center;
}
.category .link a{
    padding: 4px 23px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: white;
    border: 1px solid orange;
    margin: 5px;
}
.category .link a:hover{
    background-color: orange;
    color: white;
    transition: 0.5s ease;
}

.product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}
.product .box{
    width: 250px;
    overflow: hidden;

}
.product .box img{
    width: 245px;
    height: 280px;
    border: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}
.product .box .info{
    text-align: center;
    padding: 2px 0px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    width: 245.5px;
}
.product .box p{
    font-size: 20px;
    padding: 5px 0px;
}
.checked{
    color: orange;
}
.product .box h4{
    font-size: 20px;
}
.product .box del{
    font-size: 16px;
    font-weight: 500;
}
.product .box form{
    padding: 10px 0px;
}
.product .box form #addtocart{
    background-color: green;
    border: 1px solid green;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 15px;
}
.product .box form #addtocart:hover{
    background-color: white;
    border: 1px solid green;
    color: black;
    transition: 0.5s ease;
}
.product .box form #buynow{
    background-color: orange;
    border: 1px solid orange;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 15px;
}
.product .box form #buynow:hover{
    background-color: white;
    border: 1px solid orange;
    color: black;
    transition: 0.5s ease;
}

@media(max-width: 760px){
    .background img{
        background-size: cover;
        background-repeat:no-repeat;
        width: 30vw;
        height: 30vh;
        position: relative;
    }
    .navbar nav .logo{
        margin:  8px 14px;
     }
     .navbar nav img{
        display: flex;
        height: 40px;
        margin: 0px -4px;
     }
     .navbar nav .link a{
        font-size: 12px;
        text-decoration: none;
        padding: 2px 2px;
        color: black;
    }
    .navbar nav .link a:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
        transition: 0.5s ease;
    }
    .category h1{
        font-size: 16px;
        margin-top: -30px;

    }
    .category .link a{
        padding: 1px 10px;
        font-size: 15px;
        text-decoration: none;
        color: black;
        border-radius: 5px;
        background-color: white;
        border: 1px solid orange;
        margin: 5px;
    }
  
}

@media(max-width: 1025px){
    .background img{
        background-size: cover;
        background-repeat:no-repeat;
        width: 100vw;
        height: 30vh;
        position: relative;
    }
    .category h1{
        margin-top: -20px;
    }
    .category .link a{
        padding: 3px 20px;
        font-size: 17px;
        text-decoration: none;
        color: black;
        border-radius: 5px;
        background-color: white;
        border: 1px solid orange;
        margin: 5px;
    }
}