*{
    margin: 0;
    padding:0;
    font-family: serif;
    box-sizing: border-box;
}
body{
    background-image: url("image/about-img.png");
    height: 50vh;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;


    
}
.navbar nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f5f5f5;
}
.navbar nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    
}
.navbar nav .link a{
    font-size: 16px;
    text-decoration: none;
    padding: 4px 6px;
    color: black;
}
.navbar nav .link a:hover{
 color: #fff;
 background-color:black;
 border-radius: 5px;
 transition: 0.3s ease;
}
.container{
    align-self: center;
}

@media(max-width: 450px){
    .navbar nav{
        padding: 10px 20px;
    }
    .navbar nav a{
        font-size: 15px;
       
    } 
    .navbar nav .link a{
        font-size: 5px;
        padding: 4px 0px;
    } 
}
