*{
    margin: 0;
    padding: 0;
    font-family: serif;
}
.navbar{
    padding: 0px 0px;
}
.navbar nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f5f5f5;
}
.navbar nav .logo{
   margin:  10px 14px;
}
.navbar nav img{
    display: flex;
    height: 50px;
   margin: 3px 9px;

}
.navbar nav .link a{
    font-size: 20px;
    text-decoration: none;
    padding: 2px 8px;
    color: black;
}
.navbar nav .link a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.5s ease;
}

.register form{
    text-align: center;
    margin-top: 100px;
}
.register form input{
    font-size: 16px;
    padding: 6px 13px;
    margin: 10px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid black;
}
.register form #address{
    padding: 4px 12px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}
.register form h1{
    margin-bottom: 20px;
    color: black;
}
.register form h1:hover{
    color: orange;
    transition: 0.5s ease;
}
.register form a{
   text-decoration: none;
    padding-left: 180px;
    color: red;
}

.register form button{
    background-color: orange;
    color: white;
    padding: 6px 26px;
    font-size: 17px;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 5px;
}
.register form button:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease;
}






@media(max-width: 760px){

    .navbar nav .logo{
        margin:  8px 14px;
     }
     .navbar nav img{
        display: flex;
        height: 40px;
        margin: 0px -4px;
     }
     .navbar nav .link a{
        font-size: 12px;
        text-decoration: none;
        padding: 2px 2px;
        color: black;
    }
    .navbar nav .link a:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
        transition: 0.5s ease;
    }

}
@media(max-width: 1025px){

    .register form #address{
        padding: 4px 12px;
        width: 350px;
   
    }
    

}