    *{
        margin: 0;
        padding: 0;
        font-family: serif;
    }
    .navbar{
        padding: 0px 0px;
    }
    .navbar nav{
        display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    }
    .navbar nav .logo{
    margin:  2px 25px;
    }
    .navbar nav img{
        display: flex;
        height: 50px;
    
    }
    .navbar nav .link a{
        font-size: 18px;
        text-decoration: none;
        padding: 2px 8px;
        color: black;
    }
    .navbar nav .link a:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
        transition: 0.5s ease;
    }


.background img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
    position: relative;

}
h1{
    text-align: center;
    padding: 20px 0px;
    
}
.checked{
    color: orange;
}
.product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.product .box{
    width: 280px;
    overflow: hidden;

}
.product .box img{
    width: 275px;
    height: 300px;
    border: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
   
}
.product .box .info{
    text-align: center;
    padding: 2px 0px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    width: 275.5px;
}
.product .box p{
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0px;
}
.product .box h4{
    font-size: 20px;

}
.product .box del{
    font-size: 16px;
}
.product .box form{
    padding: 10px 0px;
}
.product .box form #addtocard{
    background-color: green;
    border: 1px solid green;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 13px;
}
.product .box form #addtocard:hover{
    background-color: white;
    border: 1px solid green;
    color: black;
    transition: 0.5s ease;
}
.product .box form #buynow{
    background-color: orange;
    border: 1px solid orange;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 18px;
    text-decoration: none;
}
.product .box form #buynow a{
    color: white;
    text-decoration: none;
}
.product .box form #buynow a:hover{
    color: black;
    transition: 0.5s ease;
}
.product .box form #buynow:hover{
    background-color: white;
    border: 1px solid orange;
    color: black;
    transition: 0.5s ease;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    margin-top: 100px;
 
}
.footer .cols h2{
    padding: 5px 0px;

}
.footer .cols #p1,#p2{
    font-size:19px;
    padding: 5px 20px;
    color: orange;

}

.footer .cols a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.footer .cols a:hover{
    color: gray;
}

.footer .cols #p3{
    font-size: 18px;
    padding: 5px 00px;
    color: orange;
}
.footer .cols i{
    font-size: 18px;
    padding: 5px 10px;
}
.footer .cols i:hover{
 color: blue;
}

.service{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
h1:hover{
    color: orange;
    transition: 0.5s ease;
}
.service p{
    font-size: 20px;
    margin-bottom: 10px;
}
.service form input{
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 5px;
    border: 2px solid orange;
    width: 425px;
}
.service form button{
    background-color: black;
    color: white;
    padding: 7px 10px;
    margin: 20px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid black;
}
.service form button:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease;

}
@media(max-width: 760px){
    .background img{
        background-size: cover;
        background-repeat: no-repeat;
        width: 99vw;
        height: 20vh;
        position: relative;
    
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .footer .cols h2{
        padding-top: 20px ;
    }
    .navbar nav .logo{
        margin:  8px 14px;
     }
     .navbar nav img{
        display: flex;
        height: 40px;
        margin: 0px -4px;
     }
     .navbar nav .link a{
        font-size: 12px;
        text-decoration: none;
        padding: 2px 2px;
        color: black;
    }
    .navbar nav .link a:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
        transition: 0.5s ease;
    }
    .service{
        margin-bottom: -50px;
    }
    .service form input{
        width: 225px;
    }
    .service  p{
        margin-top: -10px;
        font-size: 10px;
    }
    .footer .cols #p3{
        font-size: 16px;
      
    }
    .footer .cols #p1,#p2{
        font-size:16px;
    }


}
@media(max-width: 1025px){
    .background img{
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 40vh;
        position: relative;
    
    }
    .footer{
        flex-direction:column;
        text-align: center;
    }
    .footer .cols #p1,#p2{
        font-size:16px;
       
    }
    
    .footer .cols h2{
        padding-top: 20px;
    }
    .footer .cols a{
        font-size: 14px;
        color: black;
        text-decoration: none;
        
    }
    .footer .cols a:hover{
        color: gray;
    }
    .footer .cols #p3{
        font-size: 16px;
       
    }
    .footer .cols i{
        font-size: 18px;
        padding:10px 18px;
    }
    .footer .cols i:hover{
     color: blue;
    }
    

}

